/******************************************
/* CSS
/*******************************************/


/* Box Model Hack */
*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin:0;
  padding: 0;
  background-color: black;
}

h1, h2, h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: gold;
}


/* media queries */

@media (min-width: 913px) {
  body {
    max-height: 100vh;
  }

  button {
    max-width: 40vw;
    background-color:  transparent;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    display: block;
    margin: 0 auto; 
    padding-top: 1.5rem;
    color: gold;
  }

  .content {
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    justify-content: space-between;
  }

  .PF-foto {
    max-width: 40vw;
    }
    

  #Freire-fala {
    font-size: 2.8rem;
    color: gold;
    max-width: 40vw;
    padding: 10vw 5vw;
    font-weight: normal;
  }
   
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media (max-width: 375px) {
  body {
    max-height: 100vw;
  }

  button {
    font-size: 2.2rem;
    display: block;
    max-width: 100%;
    padding-top: 5vw;
    margin: 0 auto;
    background-color:  transparent;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gold;
  }

.content{
  display: flex;
  max-width: 80vw;
  margin: 5vw auto;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.PF-foto {
  max-width: 70vw;
  margin: 0 auto;
}

#Freire-fala {
  max-width: 90vw;
  min-height: 30vh;
  font-size: 2rem;
  padding-top: 2rem;
  text-align: center;
  font-weight: normal;
}
}

@media (min-width: 376px) and (max-width: 540px) {
  body {
    max-height: 100vw;
  }
h1 {
  font-size: 5rem;
}

.content{
  display: flex;
  max-width: 80vw;
  margin: 5vw auto;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.PF-foto {
  max-width: 70vw;
  margin: 0 auto;
}

#Freire-fala {
  max-width: 90vw;
  min-height: 25vh;
  font-size: 2rem;
  padding-top: 6rem;
  text-align: center;
  font-weight: normal;
}

button {
  font-size: 2.9rem;
  display: block;
  max-width: 100%;
  padding-top: 20px;
  margin: 0 auto;
  background-color:  transparent;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: gold;
}
}

@media (min-width: 541px) and (max-width: 912px) {
  
  body {
    max-height: 100vw;
  }

.content{
  display: flex;
  max-width: 80vw;
  margin: 2vw auto;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.PF-foto {
  max-width: 70vw;
  margin: 0 auto;
}

#Freire-fala {
  max-width: 90vw;
  min-height: 20vh;
  font-size: 3.5rem;
  padding-top: 2rem;
  text-align: center;
  font-weight: normal;
}

button {
  font-size: 5rem;
  display: block;
  max-width: 100%;
  padding-top: 20px;
  margin: 0 auto;
  background-color:  transparent;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: gold;
}
  }

  

